/* app.css */
#root {
  width: 100%; /* Cambiado para usar todo el ancho disponible */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.7));
}

.card {
  padding: 2em;
  background-color: white; /* Color de fondo de la tarjeta */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
}

.read-the-docs {
  color: #888;
}
