@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f0f0; /* Color de fondo */
    font-family: Arial, sans-serif; /* Fuente */
    margin: 0; /* Eliminar margen por defecto */
    text-size-adjust: 100%; /* Agregar esta línea para compatibilidad */
}

h1, h2, h3 {
    color: #333; /* Color de los encabezados */
}

p {
    color: #666; /* Color de los párrafos */
}

.card {
    /* Asegúrate de que la tarjeta sea responsiva */
    width: 100%; /* Ocupar el ancho completo */
    max-width: 800px; /* Ancho máximo para pantallas grandes */
    margin: auto; /* Centrar la tarjeta */
}
